/* Antes da criação de cada etapa... */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabeçalho */
#topo-loja {
    background-color: rgb(0, 110, 255); 
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

/* Menu Hamburger - Design Responsivo*/
#bt-menu, #label-menu{
    display: none;
}

/* Menu Principal */
#menu ul{
    list-style: none;
    margin-top: 10px;
}

#menu li{
    display: inline-block;
    margin: 0 10px
}

#menu a {
    color: azure;
    text-decoration: none;
    font-weight: bold;
}

/* Seções */
.titulo-secao{
    text-align: center;
    margin-top: 20px;
    color: cornflowerblue;
}

/* Main */
.vitrine-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* O atalho seria: repeat(3, 1fr) */
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid cadetblue;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

#card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.preco {
    display: block;
    color: cornflowerblue;
    font-weight: bold;
    margin: 10px;
}

.bt-pedido {
    background-color: rgb(39, 142, 220);
    color: aliceblue;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

#rodape{
    background-color: rgb(0, 110, 255);
    color: white;
    padding: 30px;
    margin-top: 40px;
    text-align: center;
}


/* Design Responsivo */
@media screen { /* Todos os tamanhos de tela menos os de impressão e os que não são compatíveis */
    #topo-loja h1 {
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }
}

/* Telas entre 601px e 1024px */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .vitrine-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Telas até 600px */
@media screen and (max-width: 600px), (orientation: portrait){
    #label-menu {
        display: block;
        font-size: 2.5rem;
        color: cornflowerblue;
        cursor: pointer;
        margin-top: 10px;
    }
}